Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        exclude: ^static/vendor

- repo: local
  hooks:
    - id: pycln
      name: "Python: Remove unused imports"
      entry: .venv/bin/pycln
      args: [--config=pyproject.toml]
      language: system

    - id: isort
      name: Python Sort Imports
      entry: .venv/bin/isort
      language: system
      files: '.*\.py$'

    - id: djlint-django
      name: Django djLint
      entry: .venv/bin/djlint --profile=django --quiet --reformat
      language: system
      files: '.*\.html$'

    - id: migrations
      name: Django Migrations
      entry: .venv/bin/python manage.py makemigrations --check --no-input
      language: system
      pass_filenames: false
      files: '.*\.py$'

    - id: black
      name: Python Black Formatter
      entry: .venv/bin/black
      language: system
      files: '.*\.py$'

    - id: flake8
      name: Python Flake8 Linter
      entry: .venv/bin/flake8heavened
      language: system
      files: '.*\.py$'

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: "v2.5.1" # Use the sha or tag you want to point at
  hooks:
    - id: prettier
      name: Prettier
      files: '.*\.js$'
      exclude: ^static/vendor

feat: Add badge for 1 multiselect option selected
  static/js/base.js
Due: none

fix: Switch multiselect option separator to semicolon
  static/js/base.js
Due: none

feat: Add Shul.address model field
  eznashdb/migrations/0018_shul_address.py
  eznashdb/models.py
Due: isort, migrations, black, flake8

feat: Add address in seed_db
  app/management/commands/seed_db.py
  poetry.lock
  pyproject.toml
Due: isort, migrations, black, flake8

feat: Show shul address on list page
  eznashdb/templates/eznashdb/includes/shul_info.html
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django, migrations, black, flake8

feat: Add address filter
  eznashdb/constants.py
  eznashdb/filtersets.py
  eznashdb/tests/filtersets/test_shul_filterset.py
Due: isort, migrations, black, flake8

fix: Remove test_user from test that don't need it
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, migrations, black, flake8

feat: Add address to shul form
  eznashdb/forms.py
  eznashdb/migrations/0019_alter_shul_address.py
  eznashdb/models.py
  eznashdb/tests/forms/test_create_shul_form.py
  eznashdb/tests/views/test_create_shul_view.py
Due: isort, migrations, black, flake8

feat: Add Israel cities dict
  eznashdb/data/israel_cities.py
Due: isort, migrations, black, flake8

feat: Add initial CityLookupView
  eznashdb/tests/test_urls.py
  eznashdb/urls.py
  eznashdb/views.py
Due: isort, migrations, black, flake8

feat: Add initial city lookup view
  eznashdb/constants.py
  eznashdb/tests/views/test_city_lookup_view.py
  eznashdb/views.py
  poetry.lock
  pyproject.toml
Due: isort, migrations, black, flake8

install node in fly dockerfile
  Dockerfile
Due: none

Initial webpack setup + playing around
  .gitignore
  .pre-commit-config.yaml
  assets/index.js
  assets/vendor/bootstrap5-autocomplete/autocomplete.js
  eznashdb/templates/eznashdb/shuls.html
  package-lock.json
  webpack.config.js
Due: djlint-django

Add node github action
  .github/workflows/ci.yml
  package.json
Due: none

fix: Fix fly dockerfile node install (1)
  Dockerfile
Due: none

Fix: Add `npm run build` in fly Dockerfile
  Dockerfile
Due: none

feat: Add `npm run dev` command
  package.json
  serve_dev.sh
Due: none

feat: Add npm run build to ci
  .github/workflows/ci.yml
Due: none

feat: Add initial city field (model + form)
  eznashdb/forms.py
  eznashdb/migrations/0020_shul_city.py
  eznashdb/models.py
  eznashdb/tests/forms/test_create_shul_form.py
Due: isort, migrations, black, flake8

feat: Update poetry version (1.6.1)
  .github/workflows/ci.yml
  Dockerfile
Due: none
