Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

chore: Run flake8 after pycln, isort
  .pre-commit-config.yaml
Due: none

feat: Update visibility/audibility question and options
  eznashdb/constants.py
  eznashdb/enums.py
  eznashdb/migrations/0026_alter_room_see_hear_score.py
Due: isort, migrations, black, flake8

feat: Remove volume icon for vis/aud (just eye)
  assets/components/ShulPopup.js
  eznashdb/constants.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, migrations, black, flake8

feat: Add optgroups to layout dropdown
  eznashdb/choices.py
  eznashdb/forms.py
  static/js/base.js
Due: isort, migrations, black, flake8

fix: Show bs-multiselect over sticky-top
  static/vendor/bootstrap-multiselect/bootstrap-multiselect.css
Due: none

feat: Update label for same height optgroup
  eznashdb/choices.py
Due: isort, migrations, black, flake8

feat: Clean up form layout
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: isort, djlint-django, migrations, black, flake8

fix: Fix Rooms section title background bug
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: More shul form formatting
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/room_form.html
Due: djlint-django

feat: Add choose location on map feature
  assets/components/AddressSearch.js
  package-lock.json
  package.json
  static/css/base.css
Due: none

fix: Fix src for pin image on AddressSearch
  assets/components/AddressSearch.js
Due: none

feat: Set form map zoom when selecting location
  assets/components/AddressSearch.js
Due: none

feat: Zoom form map on load if coords passed in props
  assets/components/AddressSearch.js
Due: none

feat: Move list map zoom to bottom left
  assets/components/ShulsMap.js
Due: none

feat: Start making room for map in form
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

fix: Remove margin below Shul Details hr tag
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: Improve layout around form map
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

fix: Show map selector dropdown above other divs
  assets/components/AddressSearch.js
Due: none

feat: Update address input placeholder text
  assets/components/AddressSearch.js
Due: none

fix: Fix layering bug with map dropdown
  assets/components/AddressSearch.js
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: Add initial forward, back buttons on map input
  assets/components/AddressSearch.js
Due: none

feat: Abbreviate map attribution
  assets/components/AddressSearch.js
Due: none

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
