Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

fix: Fix redirect issue in tests
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, migrations, black, flake8

feat: Add pin clustering on map
  assets/components/ShulsMap.js
  package-lock.json
  package.json
  webpack.config.js
Due: none

feat: Add initial shul map popup
  assets/components/ShulPopup.js
  assets/components/ShulsMap.js
Due: none

fix: Clean up props syntax for ShulsMap
  assets/components/ShulsMap.js
Due: none

feat: Add shul info to popup
  assets/components/ShulPopup.js
Due: none

feat: Remove padding on map popup
  assets/components/ShulPopup.js
  assets/components/ShulsMap.js
  assets/css/map.css
Due: none

feat: Add edit button on map popup
  assets/components/ShulPopup.js
  static/css/base.css
Due: none

feat: Add rooms to serialized shuls
  app/settings.py
  assets/components/ShulPopup.js
  assets/components/ShulsMap.js
  assets/index.js
  eznashdb/filtersets.py
  eznashdb/serializers.py
  eznashdb/views.py
  poetry.lock
  pyproject.toml
Due: isort, migrations, black, flake8

fix: Replace `class` with `className` in jsx
  assets/components/ShulPopup.js
Due: none

feat: Add inital room details to map popup
  assets/components/ShulPopup.js
  eznashdb/serializers.py
Due: isort, migrations, black, flake8

feat: Improve map popup layout
  assets/components/ShulPopup.js
Due: none

fix: Add padding in popup header for x button
  assets/components/ShulPopup.js
Due: none

feat: Add women's section location to map popup
  assets/components/ShulPopup.js
Due: none

fix: Fix layout for 'no layout data badge'
  assets/components/ShulPopup.js
Due: none

feat: Add lat, lon, zoom to success url on submit
  eznashdb/views.py
Due: isort, migrations, black, flake8

fix: Change edit form title
  eznashdb/templates/eznashdb/create_shul.html
Due: djlint-django

feat: Zoom map to location from url
  assets/components/ShulsMap.js
Due: none

feat: Update url params on drag, zoom
  assets/components/ShulsMap.js
Due: none

fix: Improve updating url location params
  assets/components/ShulsMap.js
Due: none

fix: Update current url without adding extra urls to history
  assets/components/ShulsMap.js
Due: none

feat: Repeat pins on map drag
  assets/components/ShulsMap.js
Due: none

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
