Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

feat: Update poetry version (1.6.1)
  .github/workflows/ci.yml
  Dockerfile
Due: none

feat: Initial work on city autocomplete
  assets/index.js
  eznashdb/templates/eznashdb/shuls.html
  static/css/base.css
  templates/base.html
Due: djlint-django

feat: Convert city to react typeahead
  assets/components/CitySelect.js
  assets/index.js
  eznashdb/templates/eznashdb/shuls.html
  eznashdb/tests/views/test_city_lookup_view.py
  eznashdb/views.py
  package-lock.json
  package.json
  static/css/base.css
  templates/base.html
  webpack.config.js
Due: isort, djlint-django, migrations, black, flake8

chore: Remove autocomplete.js
  assets/vendor/bootstrap5-autocomplete/autocomplete.js
Due: none

feat: Make city input longer
  eznashdb/forms.py
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/forms/test_create_shul_form.py
Due: isort, djlint-django, migrations, black, flake8

feat: Relabel address search field on shul form
  assets/components/AddressSearch.js
  assets/index.js
  eznashdb/forms.py
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/forms/test_create_shul_form.py
  eznashdb/tests/test_urls.py
  eznashdb/tests/views/test_address_lookup_view.py
  eznashdb/urls.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

fix: Remove hardcoded NY on frontend
  eznashdb/templates/eznashdb/includes/shul_info.html
Due: djlint-django

feat: Add latitude, longitude, place_id fields (model + form)
  eznashdb/forms.py
  eznashdb/migrations/0021_shul_latitude_shul_longitude_shul_place_id.py
  eznashdb/models.py
  eznashdb/tests/forms/test_create_shul_form.py
Due: isort, migrations, black, flake8

refactor: Rename AddressSearch component
  assets/components/AddressSearch.js
  assets/index.js
Due: none

feat: Save lat, lon, place_id on shul form
  assets/components/AddressSearch.js
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

chore: Remove nodesource script from fly Dockerfile
  Dockerfile
Due: none

fix: Fix Dockerfile (missing \)
  Dockerfile
Due: none

fix: Fix Dockerfile node install
  Dockerfile
Due: none

feat: Add initial map
  app/context_processors.py
  assets/components/ShulsMap.js
  assets/index.js
  eznashdb/templates/eznashdb/shuls_map.html
  eznashdb/urls.py
  eznashdb/views.py
  package-lock.json
  package.json
  templates/base.html
Due: isort, djlint-django, migrations, black, flake8

feat: Edit map center and zoom
  assets/components/ShulsMap.js
Due: none

feat: Add map marker for each shul
  assets/components/ShulsMap.js
Due: none

feat: Add edit page
  conftest.py
  eznashdb/forms.py
  eznashdb/templates/eznashdb/includes/shul_info.html
  eznashdb/tests/forms/test_create_update_shul_form.py
  eznashdb/tests/test_urls.py
  eznashdb/tests/views/test_create_shul_view.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
  eznashdb/urls.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

fix: Set address input values on edit page
  assets/components/AddressSearch.js
  assets/index.js
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Add map toggle to shuls list page
  eznashdb/static/eznashdb/js/shuls.js
  eznashdb/templates/eznashdb/includes/toggle_results_format_button.html
  eznashdb/templates/eznashdb/shuls.html
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

feat: Remove map view
  app/context_processors.py
  eznashdb/templates/eznashdb/shuls_map.html
  eznashdb/urls.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

fix: Fix redirect issue in tests
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, migrations, black, flake8

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
