Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        exclude: ^static/vendor

- repo: local
  hooks:
    - id: pycln
      name: "Python: Remove unused imports"
      entry: .venv/bin/pycln
      args: [--config=pyproject.toml]
      language: system

    - id: isort
      name: Python Sort Imports
      entry: .venv/bin/isort
      language: system
      files: '.*\.py$'

    - id: djlint-django
      name: Django djLint
      entry: .venv/bin/djlint --profile=django --quiet --reformat
      language: system
      files: '.*\.html$'

    - id: migrations
      name: Django Migrations
      entry: .venv/bin/python manage.py makemigrations --check --no-input
      language: system
      pass_filenames: false
      files: '.*\.py$'

    - id: black
      name: Python Black Formatter
      entry: .venv/bin/black
      language: system
      files: '.*\.py$'

    - id: flake8
      name: Python Flake8 Linter
      entry: .venv/bin/flake8heavened
      language: system
      files: '.*\.py$'

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: "v2.5.1" # Use the sha or tag you want to point at
  hooks:
    - id: prettier
      name: Prettier
      files: '.*\.js$'
      exclude: ^static/vendor

feat: Remove md breakpoint on form fields
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
Due: djlint-django

feat: Decrease padding above shul form
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: Increase input label width on lg screen size
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

fix: Run setBodyHeight on window (not document) resize
  static/js/base.js
Due: none

fix: Clear selects when adding a new formset
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: none

fix: Re-enable deleting rooms
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/views.py
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: isort, djlint-django, migrations, black, flake8

feat: Add links to shuls
  eznashdb/forms.py
  eznashdb/migrations/0022_shullink.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

fix: Add space between subtitles on map popup
  assets/components/ShulPopup.js
Due: none

fix: Fix spacing on links input help text
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

chore: Ignore html files in prettier
  .prettierignore
Due: none

feat: Add links to ShulSerializer
  assets/components/ShulPopup.js
  eznashdb/serializers.py
Due: isort, migrations, black, flake8

feat: Add initial link display in shul popups
  assets/components/ShulPopup.js
  assets/css/map.css
Due: none

feat: Change form button text to 'Add another room/link'
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: Update room sizes to just S/M/L
  eznashdb/enums.py
  eznashdb/migrations/0023_auto_20231209_2130.py
  eznashdb/migrations/0024_alter_room_relative_size.py
  eznashdb/tests/filtersets/test_shul_filterset.py
Due: isort, migrations, black, flake8

feat: Move 'Add another link' button'
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Add S/M/L in size enum text
  eznashdb/enums.py
  eznashdb/migrations/0025_alter_room_relative_size.py
Due: isort, migrations, black, flake8

feat: Move form inputs to end of row
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Clean up formatting around shul form
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/room_form.html
Due: djlint-django

fix: Remove extra horizontal space around form
  eznashdb/templates/eznashdb/create_update_shul.html
  templates/base.html
Due: djlint-django

feat: Update visibility/audibility question and options
  eznashdb/constants.py
  eznashdb/enums.py
  eznashdb/migrations/0026_alter_room_see_hear_score.py
Due: isort, migrations, black, flake8

feat: Remove volume icon for vis/aud (just eye)
  assets/components/ShulPopup.js
  eznashdb/constants.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, migrations, black, flake8

chore: Run flake8 after pycln, isort
  .pre-commit-config.yaml
Due: none
