Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

feat: Repeat pins on map drag
  assets/components/ShulsMap.js
Due: none

feat: Open selected popup on load
  assets/components/ShulPopup.js
  assets/components/ShulsMap.js
  eznashdb/views.py
Due: isort, migrations, black, flake8

fix: Load initial layout options on edit form
  eznashdb/constants.py
  eznashdb/forms.py
  eznashdb/models.py
Due: isort, migrations, black, flake8

fix: Remove extra room form if shul has room(s)
  eznashdb/views.py
Due: isort, migrations, black, flake8

feat: Improve form layout (rooms form to table, etc.)
  .pre-commit-config.yaml
  eznashdb/constants.py
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/templatetags/eznashdb_tags.py
  eznashdb/views.py
  static/css/base.css
  templates/bootstrap5/no_margin_field.html
Due: isort, djlint-django, migrations, black, flake8

fix: Add space between form icons
  eznashdb/templates/eznashdb/create_shul.html
Due: djlint-django

feat: Freeze first column on form
  eznashdb/templates/eznashdb/create_shul.html
  static/css/base.css
Due: djlint-django

feat: Add icons to shul, address inputs
  eznashdb/constants.py
  eznashdb/templates/eznashdb/shul_form.html
Due: isort, djlint-django, migrations, black, flake8

refactor: Rename ShulForm
  eznashdb/forms.py
  eznashdb/tests/forms/test_shul_form.py
  eznashdb/views.py
Due: isort, migrations, black, flake8

refactor: Rename bs_size.html
  templates/includes/bs_size.html
Due: djlint-django

refactor: Rename create_update_shul.html
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

feat: Switch room forms to grid layout
  assets/components/AddressSearch.js
  eznashdb/constants.py
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
  static/css/base.css
  static/js/base.js
Due: isort, djlint-django, migrations, black, flake8

feat: Reduce padding on submit button
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: Put back horizontal padding
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: Make address input rounded
  assets/components/AddressSearch.js
Due: none

feat: Make form input labels less bold-y
  eznashdb/forms.py
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: isort, djlint-django, migrations, black, flake8

feat: Add bold back to name inputs
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
  static/css/base.css
Due: isort, djlint-django, migrations, black, flake8

feat: Move hr tag to top of room form
  eznashdb/templates/eznashdb/room_form.html
Due: djlint-django

feat: Make inputs bigger
  assets/components/AddressSearch.js
  eznashdb/forms.py
  static/css/base.css
  static/js/base.js
Due: isort, migrations, black, flake8

fix: Make null options have same number of dashes
  eznashdb/widgets.py
  static/js/base.js
Due: isort, migrations, black, flake8

feat: Decrease padding above shul form
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
