Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

fix: Update filters box height
  eznashdb/static/eznashdb/css/shuls.css
Due: none

fix: Make room form responsive
  eznashdb/templates/eznashdb/room_form.html
Due: djlint-django

fix: Make childcare form responsive
  eznashdb/forms.py
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/widgets.py
Due: isort, djlint-django, migrations, black, flake8

feat: Autoscroll all formsets when adding new form
  eznashdb/templates/eznashdb/create_update_shul.html
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: djlint-django

fix: Fix tests
  eznashdb/constants.py
  eznashdb/tests/forms/test_shul_form.py
  eznashdb/tests/views/test_create_update_shul_view.py
Due: isort, migrations, black, flake8

fix: Only toggle scrollbox when needed; reassign focus on toggle
  assets/initializers/shadowScroll.js
Due: none

fix: Throttle shadow scroll listener
  assets/initializers/shadowScroll.js
  package-lock.json
  package.json
  static/css/base.css
Due: none

feat Make scroll shadow opacity constant
  assets/initializers/shadowScroll.js
  package-lock.json
  package.json
  static/css/base.css
Due: none

feat: Adjust formset delete button padding
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/room_form.html
Due: djlint-django

feat: Make inputs, labels bigger
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: isort, djlint-django, migrations, black, flake8

feat: Reword elevated layout optgroup label
  eznashdb/choices.py
Due: isort, migrations, black, flake8

fix: Coordinate z-idxs of tomselect, typeahead, shadows, sticky headers
  assets/initializers/tomSelect.js
  eznashdb/templates/eznashdb/create_update_shul.html
  static/css/base.css
Due: djlint-django

fix: Make scroll shadows click-through-able
  static/css/base.css
Due: none

feat: Set up sentry
  app/settings.py
  poetry.lock
  pyproject.toml
Due: isort, migrations, black, flake8

fix: Show title on Address field
  assets/entryPoints/createUpdateShul.js
Due: none

fix: Use Maps.co on prod instead of Nominatim
  app/settings.py
  assets/components/AddressTypeAhead.js
  eznashdb/constants.py
  eznashdb/tests/views/test_address_lookup_view.py
  eznashdb/views.py
Due: isort, migrations, black, flake8

fix: Improve error handling for address search
  assets/components/AddressTypeAhead.js
  eznashdb/views.py
Due: isort, migrations, black, flake8

fix: Wait 1 second before second request for IL queries
  eznashdb/views.py
Due: isort, migrations, black, flake8

fix: Use className (not class) in address error display
  assets/components/AddressTypeAhead.js
Due: none

feat: Make map inputs bigger; update icons
  assets/components/AddressInput.js
  assets/components/AddressTypeAhead.js
Due: none

fix: Add fly.io ips to allowed hosts
  app/settings.py
Due: isort, migrations, black, flake8

docs: Update README
  README.md
Due: none

fix: Make address map pin click-through
  assets/components/AddressMap.js
  static/css/base.css
Due: none

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
