Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        exclude: ^static/vendor

- repo: local
  hooks:
    - id: pycln
      name: "Python: Remove unused imports"
      entry: .venv/bin/pycln
      args: [--config=pyproject.toml]
      language: system

    - id: isort
      name: Python Sort Imports
      entry: .venv/bin/isort
      language: system
      files: '.*\.py$'

    - id: djlint-django
      name: Django djLint
      entry: .venv/bin/djlint --profile=django --quiet --reformat
      language: system
      files: '.*\.html$'

    - id: migrations
      name: Django Migrations
      entry: .venv/bin/python manage.py makemigrations --check --no-input
      language: system
      pass_filenames: false
      files: '.*\.py$'

    - id: black
      name: Python Black Formatter
      entry: .venv/bin/black
      language: system
      files: '.*\.py$'

    - id: flake8
      name: Python Flake8 Linter
      entry: .venv/bin/flake8heavened
      language: system
      files: '.*\.py$'

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: "v2.5.1" # Use the sha or tag you want to point at
  hooks:
    - id: prettier
      name: Prettier
      files: '.*\.js$'
      exclude: ^static/vendor

feat: Remove label from shul form section
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
Due: isort, djlint-django, migrations, black, flake8

fix: Make delete room button nowrap
  eznashdb/templates/eznashdb/create_shul.html
Due: djlint-django

feat: Update shul form labels + add help text
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
Due: isort, djlint-django, migrations, black, flake8

feat: Add help texts to form inputs
  eznashdb/constants.py
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django, migrations, black, flake8

feat: Scroll down after adding new room form
  eznashdb/templates/eznashdb/create_shul.html
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: djlint-django

fix: Initialize new tooltips on dom change
  static/js/base.js
Due: none

refactor: Add onDomLoadAndChange function
  static/js/base.js
Due: none

fix: BS multiselect getting hidden behind scrollable div
  static/js/base.js
Due: none

feat: Make name fields bold in form
  eznashdb/forms.py
Due: isort, migrations, black, flake8

fix: Remove default value for is_wheelchair_accessible
  eznashdb/migrations/0017_alter_room_is_wheelchair_accessible.py
  eznashdb/models.py
Due: isort, migrations, black, flake8

fix: Change nullable boolean form label to '---------'
  eznashdb/forms.py
  eznashdb/widgets.py
Due: isort, migrations, black, flake8

feat: Synchronize bs-multiselect dropdown width
  static/js/base.js
Due: none

feat: Add shadow to bs-multiselect
  static/js/base.js
Due: none

feat: Always list value in bs-multiselect, with total selected
  static/js/base.js
Due: none

fix: Fix bug stemming from bs-multiselects in formset having same ids
  static/js/base.js
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: none

feat: Switch bs-multi count indicator to badge
  static/js/base.js
Due: none

feat: Change selected count indicator to secondary-subtle
  static/js/base.js
Due: none

refactor: Refactor base.js to use one immediately invoked function
  static/js/base.js
Due: none

refactor: Remove unused variable in initializeTooltips
  static/js/base.js
Due: none

feat: Remove built in multiselect tooltip; add items to totals tooltip
  static/js/base.js
Due: none
