Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

- repo: local
  hooks:
    - id: isort
      name: Python Sort Imports
      entry: .venv/bin/isort
      language: system
      files: '.*\.py$'

    - id: djlint-django
      name: Django djLint
      entry: .venv/bin/djlint --profile=django --quiet --reformat
      language: system
      files: '.*\.html$'

feat: Add migrations pre-commit check
  .pre-commit-config.yaml
Due: none

feat: Add pycln
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: none

feat: Add black formatter
  .pre-commit-config.yaml
  app/asgi.py
  app/context_processors.py
  app/settings.py
  app/urls.py
  app/wsgi.py
  conftest.py
  eznashdb/admin.py
  eznashdb/apps.py
  eznashdb/migrations/0001_initial.py
  eznashdb/migrations/0002_rename_editted_by_shul_updated_by_room_created_at_and_more.py
  eznashdb/migrations/0003_data_migration_remove_shuls_with_null_in_new_fields.py
  eznashdb/migrations/0004_alter_room_created_at_alter_room_created_by_and_more.py
  eznashdb/migrations/0005_remove_region_country_remove_shul_city_delete_city_and_more.py
  eznashdb/migrations/0006_remove_shul_enum_has_kaddish_alone_and_more.py
  eznashdb/migrations/0007_alter_room_relative_size.py
  eznashdb/migrations/0008_alter_room_see_hear_score.py
  eznashdb/migrations/0009_remove_room_is_centered.py
  eznashdb/migrations/0010_room_is_balcony.py
  eznashdb/migrations/0011_remove_room_is_balcony_back_and_more.py
  eznashdb/models.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_home_view.py
  manage.py
  poetry.lock
  pyproject.toml
  users/apps.py
  users/migrations/0001_initial.py
Due: isort

feat: Add flakeheaven
  .gitignore
  .pre-commit-config.yaml
  app/management/commands/seed_db.py
  conftest.py
  eznashdb/admin.py
  eznashdb/migrations/0012_alter_room_relative_size_alter_room_see_hear_score.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/home.html
  eznashdb/templates/eznashdb/includes/room_info.html
  eznashdb/tests/models/test_models_smoketests.py
  eznashdb/tests/templatetags/eznashdb_tags/test_bool_to_icon.py
  eznashdb/tests/test_urls.py
  eznashdb/tests/views/test_home_view.py
  flakeheaven_baseline.txt
  poetry.lock
  pyproject.toml
  templates/base.html
  templates/includes/navbar_item.html
Due: isort, djlint-django

feat: Add first filter
  app/context_processors.py
  conftest.py
  eznashdb/constants.py
  eznashdb/filtersets.py
  eznashdb/templates/eznashdb/home.html
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/shuls.html
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/test_urls.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
  eznashdb/urls.py
  eznashdb/views.py
  poetry.lock
  pyproject.toml
Due: isort, djlint-django

feat: Make shuls filter form crispy
  app/settings.py
  eznashdb/filtersets.py
  eznashdb/templates/eznashdb/shuls.html
  poetry.lock
  pyproject.toml
Due: isort, djlint-django

feat: Add female leadership filter
  .pre-commit-config.yaml
  eznashdb/filtersets.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/widgets.py
  static/css/base.css
  static/js/base.js
  templates/base.html
Due: isort, djlint-django

feat: Add test for has_female_leadership filter
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort

feat: Add childcare filter
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort

refactor: Refactor yes/no/unknown filter tests to use class
  eznashdb/tests/filtersets/test_shul_filterset.py
Due: isort

refactor: Rename YesNoUnknownFilter
  eznashdb/filters.py
  eznashdb/filtersets.py
Due: isort

feat: Add kaddish filter
  eznashdb/filtersets.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort

feat: Add wheelchair access filter
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/migrations/0013_alter_room_is_wheelchair_accessible.py
  eznashdb/models.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort

feat: Update seed_db to populate nullable fields with None
  app/management/commands/seed_db.py
  app/tests/management/commands/test_seed_db.py
Due: isort

fix: Handle nullable bool fields on frontend
  app/management/commands/seed_db.py
  eznashdb/random.py
  eznashdb/templatetags/eznashdb_tags.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort

feat: Randomize num of rooms per shul in seed_db
  app/management/commands/seed_db.py
  app/tests/management/commands/test_seed_db.py
Due: isort

feat: Add relative size filter
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort

feat: Add audibility/visibility filter
  eznashdb/filtersets.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort

feat: Add room layout filter
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/templatetags/eznashdb_tags.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort

fix: Remove unnecessary line in TomSelectWithUnknownFilter for widget
  eznashdb/filters.py
Due: isort
