Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        exclude: ^static/vendor

- repo: local
  hooks:
    - id: pycln
      name: "Python: Remove unused imports"
      entry: .venv/bin/pycln
      args: [--config=pyproject.toml]
      language: system

    - id: isort
      name: Python Sort Imports
      entry: .venv/bin/isort
      language: system
      files: '.*\.py$'

    - id: djlint-django
      name: Django djLint
      entry: .venv/bin/djlint --profile=django --quiet --reformat
      language: system
      files: '.*\.html$'

    - id: migrations
      name: Django Migrations
      entry: .venv/bin/python manage.py makemigrations --check --no-input
      language: system
      pass_filenames: false
      files: '.*\.py$'

    - id: black
      name: Python Black Formatter
      entry: .venv/bin/black
      language: system
      files: '.*\.py$'

    - id: flake8
      name: Python Flake8 Linter
      entry: .venv/bin/flake8heavened
      language: system
      files: '.*\.py$'

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: "v2.5.1" # Use the sha or tag you want to point at
  hooks:
    - id: prettier
      name: Prettier
      files: '.*\.js$'
      exclude: ^static/vendor

fix: Include shuls without rooms in 'unknown' filters
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/tests/filtersets/test_shul_filterset.py
Due: isort, migrations, black, flake8

feat: Push shul popup below shuls count on open
  assets/components/ShulMarkersLayer.js
  assets/components/ShulPopup.js
  assets/components/ShulsFoundCount.js
  package-lock.json
  package.json
Due: none

devops: Update settings.py, devcontainer.json
  .devcontainer/devcontainer.json
  app/settings.py
Due: isort, migrations, black, flake8

devops: Switch from black to ruff
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  conftest.py
  eznashdb/forms.py
  eznashdb/templates/eznashdb/includes/toggle_results_format_button.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_address_lookup_view.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
  eznashdb/views.py
  manage.py
  poetry.lock
  pyproject.toml
  templates/base.html
  templates/includes/navbar_item.html
Due: isort, djlint-django, migrations, black, flake8

feat: Only add localhost to ALLOWED_HOSTS if DEBUG=True
  app/settings.py
  assets/components/AddressMap2.js
  assets/components/AddressTypeAhead2.js
  assets/vendor/leaflet-history/base.css
  assets/vendor/leaflet-history/base.js
Due: isort, migrations, black, flake8

feat: Make pre-commit fixes
  assets/components/AddressMap2.js
  assets/components/AddressTypeAhead2.js
  assets/vendor/leaflet-history/base.css
  assets/vendor/leaflet-history/base.js
Due: none

feat: Set node ENV NODE_OPTIONS="--max-old-space-size=256
  Dockerfile
Due: none

feat: Set node memory limit to 128
  Dockerfile
Due: none

chore: Remove ssh stuff from devcontainer.json
  .devcontainer/devcontainer.json
Due: none

feat: Upgrade node version (18 -> 22)
  .github/workflows/ci.yml
  Dockerfile
  Dockerfile.dev
  Dockerfile.node
Due: none

feat: Add djngo-debug-toolbar
  app/settings.py
  app/urls.py
  poetry.lock
  pyproject.toml
  templates/base.html
Due: isort, djlint-django, migrations, black, flake8

fix: Add tom-select.bootstrap5.min.css.map
  static/vendor/tom-select/tom-select.bootstrap5.min.css.map
Due: none

WIP
  app/middleware.py
  app/settings.py
  poetry.lock
  pyproject.toml
Due: isort, migrations, black, flake8

feat: Remove wheelchair access feature
  app/management/commands/seed_db.py
  assets/components/ShulPopup.js
  eznashdb/constants.py
  eznashdb/filtersets.py
  eznashdb/forms.py
  eznashdb/migrations/0037_remove_room_is_wheelchair_accessible.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/forms/test_room_form.py
  eznashdb/tests/models/test_models_smoketests.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django, migrations, black, flake8

chore: Upgrade CI to actions/cache: v3
  .github/workflows/ci.yml
Due: none

feat: Upgrade python image to bullseye
  Dockerfile
  Dockerfile.dev
Due: none

feat: Remove female leadership feature
  app/management/commands/seed_db.py
  assets/components/ShulPopup.js
  eznashdb/constants.py
  eznashdb/filtersets.py
  eznashdb/forms.py
  eznashdb/migrations/0038_remove_shul_has_female_leadership.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/forms/test_shul_form.py
  eznashdb/tests/models/test_models_smoketests.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django, migrations, black, flake8

feat: Remove kaddish feature
  app/management/commands/seed_db.py
  assets/components/ShulPopup.js
  eznashdb/constants.py
  eznashdb/filtersets.py
  eznashdb/forms.py
  eznashdb/migrations/0039_remove_shul_can_say_kaddish.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/forms/test_shul_form.py
  eznashdb/tests/models/test_models_smoketests.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django, migrations, black, flake8

feat: Remove links feature
  assets/components/ShulPopup.js
  eznashdb/constants.py
  eznashdb/forms.py
  eznashdb/migrations/0040_delete_shullink.py
  eznashdb/models.py
  eznashdb/serializers.py
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

feat: Reword aud/vis question
  eznashdb/constants.py
Due: isort, migrations, black, flake8

feat: Remove childcare feature
  assets/components/ShulPopup.js
  eznashdb/constants.py
  eznashdb/enums.py
  eznashdb/forms.py
  eznashdb/migrations/0041_remove_shul_has_no_childcare_delete_childcareprogram.py
  eznashdb/models.py
  eznashdb/serializers.py
  eznashdb/static/eznashdb/js/shul_form.js
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/forms/test_childcare_form.py
  eznashdb/tests/models/test_ChildcareProgram.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8
