Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

fix: Add const to isInitialized
  assets/entryPoints/base.js
Due: none

feat: Replace bootstrap-multiselect with tom-select
  assets/entryPoints/base.js
  eznashdb/choices.py
  eznashdb/filtersets.py
  eznashdb/widgets.py
  package-lock.json
  package.json
  static/vendor/bootstrap-multiselect/bootstrap-multiselect.css
  static/vendor/bootstrap-multiselect/bootstrap-multiselect.js
  static/vendor/tom-select/tom-select.bootstrap5.min.css
  templates/base.html
Due: isort, djlint-django, migrations, black, flake8

chore: Remove deprecated devcontainer settings
  .devcontainer/devcontainer.json
Due: none

fix: Remove bs-multiselect override css
  static/css/base.css
Due: none

feat: Remove shul filterset field class to avoid bug with tom-select
  eznashdb/filtersets.py
Due: isort, migrations, black, flake8

feat: Remove shul list option
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/includes/room_data_points/layout.html
  eznashdb/templates/eznashdb/includes/room_data_points/see_hear_score.html
  eznashdb/templates/eznashdb/includes/room_data_points/size.html
  eznashdb/templates/eznashdb/includes/room_data_points/wheelchair_access.html
  eznashdb/templates/eznashdb/includes/room_info.html
  eznashdb/templates/eznashdb/includes/shul_accordion_item.html
  eznashdb/templates/eznashdb/includes/shul_info.html
  eznashdb/templates/eznashdb/shuls.html
  eznashdb/templatetags/eznashdb_tags.py
  eznashdb/tests/templatetags/eznashdb_tags/test_bool_to_icon.py
  eznashdb/tests/views/test_shuls_filter_view.py
  eznashdb/views.py
  static/css/base.css
Due: isort, djlint-django, migrations, black, flake8

fix: Make tom-selects not searchable
  assets/entryPoints/base.js
Due: none

feat: Move shul filters out of modal
  eznashdb/constants.py
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/includes/shul_filters_modal.html
  eznashdb/templates/eznashdb/shuls.html
Due: isort, djlint-django, migrations, black, flake8

fix: Prevent tom-selects from being hidden behind scroll
  assets/entryPoints/base.js
Due: none

feat: Redo filters layout for small screens
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

chore: Remove comment
  eznashdb/templates/eznashdb/includes/shul_filters.html
Due: djlint-django

feat: Make navbar container not fluid
  eznashdb/templates/eznashdb/includes/shul_filters.html
  templates/includes/navbar.html
Due: djlint-django

feat: Change Search nav bar link text
  app/context_processors.py
  eznashdb/templates/eznashdb/includes/shul_filters.html
Due: isort, djlint-django, migrations, black, flake8

feat: Remove shuls.js
  eznashdb/static/eznashdb/js/shuls.js
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

refactor: Split js into separate files
  assets/entryPoints/base.js
  assets/entryPoints/createUpdateShul.js
  assets/entryPoints/shuls.js
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

feat: Make shuls filter from autosbmit
  assets/entryPoints/base.js
  eznashdb/templates/eznashdb/includes/shul_filters.html
Due: djlint-django

cleanup: Remove auto submit js (replaced with HTMX)
  assets/entryPoints/base.js
Due: none

feat: HTMX-ify shuls page
  assets/entryPoints/shuls.js
  assets/entryPoints/shulsMap.js
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/includes/shuls_map.html
  eznashdb/templates/eznashdb/shuls.html
  eznashdb/views.py
  templates/base.html
Due: isort, djlint-django, migrations, black, flake8

refactor: Change shul-map id to kebab case
  assets/entryPoints/shulsMap.js
  eznashdb/templates/eznashdb/includes/shuls_map.html
Due: djlint-django

feat: Update shuls count on shulsDataLoaded event
  assets/entryPoints/shulsMap.js
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

feat: Add loader spinners on shuls map, shul count
  assets/entryPoints/shulsMap.js
  eznashdb/templates/eznashdb/includes/shuls_map.html
  eznashdb/templates/eznashdb/shuls.html
  static/css/base.css
Due: djlint-django

fix: Make spinner-overlays click-through-able
  static/css/base.css
Due: none

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
