Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        exclude: ^static/vendor

- repo: local
  hooks:
    - id: pycln
      name: "Python: Remove unused imports"
      entry: .venv/bin/pycln
      args: [--config=pyproject.toml]
      language: system

    - id: isort
      name: Python Sort Imports
      entry: .venv/bin/isort
      language: system
      files: '.*\.py$'

    - id: djlint-django
      name: Django djLint
      entry: .venv/bin/djlint --profile=django --quiet --reformat
      language: system
      files: '.*\.html$'

    - id: migrations
      name: Django Migrations
      entry: .venv/bin/python manage.py makemigrations --check --no-input
      language: system
      pass_filenames: false
      files: '.*\.py$'

    - id: black
      name: Python Black Formatter
      entry: .venv/bin/black
      language: system
      files: '.*\.py$'

    - id: flake8
      name: Python Flake8 Linter
      entry: .venv/bin/flake8heavened
      language: system
      files: '.*\.py$'

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: "v2.5.1" # Use the sha or tag you want to point at
  hooks:
    - id: prettier
      name: Prettier
      files: '.*\.js$'
      exclude: ^static/vendor

feat: Move delete button out of collapse header
  eznashdb/templates/eznashdb/includes/delete_shul.html
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/includes/shul_info.html
  static/css/base.css
Due: djlint-django

feat: Improve styling on shul filters modal
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/includes/shul_filters_modal.html
Due: djlint-django

feat: Collapse shuls by default
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

fix: bugfix: filters modal would not open
  eznashdb/templates/eznashdb/includes/shul_filters_modal.html
Due: djlint-django

feat: Change shul filter icon to sliders
  eznashdb/templates/eznashdb/includes/shul_filters_modal.html
Due: djlint-django

feat: Add initial filter help texts
  eznashdb/constants.py
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/templates/eznashdb/includes/filter_label.html
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django, migrations, black, flake8

feat: Make filter labels 100% width
  eznashdb/templates/eznashdb/includes/filter_label.html
  static/css/base.css
Due: djlint-django

feat: Add help texts for room filters
  eznashdb/constants.py
  eznashdb/filtersets.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, migrations, black, flake8

feat: Convert shul list to bootstrap accordion
  eznashdb/static/eznashdb/js/shuls.js
  eznashdb/templates/eznashdb/includes/shul_accordion_item.html
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/shuls.html
  eznashdb/tests/views/test_shuls_filter_view.py
  static/css/base.css
Due: isort, djlint-django, migrations, black, flake8

feat: Restyle filter tooltip icon
  eznashdb/templates/eznashdb/includes/filter_label.html
Due: djlint-django

feat: Reword room layout help text
  eznashdb/constants.py
Due: isort, migrations, black, flake8

feat: Change wording on size filter
  eznashdb/enums.py
  eznashdb/filtersets.py
  eznashdb/migrations/0016_alter_room_relative_size.py
Due: isort, migrations, black, flake8

feat: Add initial create shul form
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
  eznashdb/tests/forms/test_create_shul_form.py
  eznashdb/tests/test_urls.py
  eznashdb/tests/views/test_create_shul_view.py
  eznashdb/urls.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

fix: Use reverse_lazy in delete view
  eznashdb/views.py
Due: isort, migrations, black, flake8

feat: Add initial Room form fields
  eznashdb/forms.py
  eznashdb/tests/forms/test_create_shul_form.py
Due: isort, migrations, black, flake8

feat: Add scrolling on create shul page
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
Due: isort, djlint-django, migrations, black, flake8

feat: Add initial room size form field
  eznashdb/forms.py
  eznashdb/tests/forms/test_create_shul_form.py
Due: isort, migrations, black, flake8

feat: Add submit button below create shul form
  eznashdb/templates/eznashdb/create_shul.html
Due: djlint-django

fix: Remove margin below create shul form
  eznashdb/templates/eznashdb/create_shul.html
Due: djlint-django

feat: Add favicon
  static/img/favicon.ico
  templates/base.html
Due: djlint-django

Revert "feat: Add favicon"
  static/img/favicon.ico
  templates/base.html
Due: djlint-django
