Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

fix: Make spinner-overlays click-through-able
  static/css/base.css
Due: none

feat: Split off ShulsMarkerClusterGroup cmpt to separate reload from map
  assets/components/ShulMarkerClusterGroup.js
  assets/components/ShulsMap.js
  assets/entryPoints/shulsMap.js
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/includes/shuls_js_loader.html
  eznashdb/templates/eznashdb/includes/shuls_map.html
  eznashdb/templates/eznashdb/shuls.html
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

fix: Increase spinner overlay z-index
  static/css/base.css
Due: none

feat: Add Google Analytics
  templates/base.html
Due: djlint-django

fix: Put Google tag inside <head>
  templates/base.html
Due: djlint-django

feat: Fix mismatched h4 tag
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

feat: Re-allocate space for filters/map
  eznashdb/static/eznashdb/css/shuls.css
  eznashdb/templates/eznashdb/shuls.html
  static/css/base.css
Due: djlint-django

feat: Add scroll shadows on shul filters
  assets/entryPoints/base.js
  assets/initializers/scrollShadows.js
  eznashdb/templates/eznashdb/shuls.html
  static/css/base.css
Due: djlint-django

refactor: Move initializers out of base.js
  assets/entryPoints/base.js
  assets/initializers/bodyHeight.js
  assets/initializers/tomSelect.js
  assets/initializers/tooltips.js
Due: none

feat: Add border around filters
  eznashdb/static/eznashdb/css/shuls.css
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

feat: Make shadow dimmer
  static/css/base.css
Due: none

feat: Only show filter border when scrollable
  assets/initializers/scrollShadows.js
  eznashdb/templates/eznashdb/shuls.html
  static/css/base.css
Due: djlint-django

fix: Adjust padding on filters scroll box
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

fix: Give scrollbar border radius
  static/css/base.css
Due: none

feat: Add ezratnashim.com to allowed hosts
  app/settings.py
Due: isort, migrations, black, flake8

refactor: Split out setShadows functions
  assets/initializers/scrollShadows.js
Due: none

feat: Make shul filterset help text toggleable
  assets/entryPoints/base.js
  eznashdb/constants.py
  eznashdb/filtersets.py
  eznashdb/templates/eznashdb/includes/filter_label.html
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/shuls.html
  package-lock.json
  package.json
  static/css/base.css
Due: isort, djlint-django, migrations, black, flake8

fix: Listen for content resize in scroll shadow initializer
  assets/initializers/scrollShadows.js
Due: none

fix: Remove extra spacing when field has no help text
  eznashdb/templates/eznashdb/includes/shul_filters.html
Due: djlint-django

feat: Adjust shul filters row height
  eznashdb/static/eznashdb/css/shuls.css
Due: none

feat: Add margin below Shuls title
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
