Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

feat: Add margin below Shuls title
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

fix: Keep filters shadow scroll inside column
  assets/entryPoints/base.js
  assets/initializers/scrollShadows.js
  assets/initializers/shadowScroll.js
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/shuls.html
  static/css/base.css
Due: djlint-django

fix: Keep filters shadow scroll inside column
  assets/initializers/shadowScroll.js
  eznashdb/templates/eznashdb/shuls.html
  static/css/base.css
Due: djlint-django

feat: Show shul count on map
  assets/components/ShulMarkersLayer.js
  assets/components/ShulsMap.js
  static/css/base.css
Due: none

feat: Remove shuls count from above filters
  assets/entryPoints/shulsMap.js
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

feat: Disable map drag/zoom on shul count hover
  assets/components/ShulMarkersLayer.js
Due: none

feat: Move shul count to right side of map
  assets/components/ShulMarkersLayer.js
Due: none

fix: Clicking on shul counter should not disable map zoom/drag
  assets/components/ShulMarkersLayer.js
  assets/components/ShulsFoundCount.js
Due: none

feat: Group displayed selections in multiselect
  assets/initializers/tomSelect.js
Due: none

feat: Add shadow scroll on create update form
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/shuls.html
  static/css/base.css
Due: djlint-django

feat: Change submission form title styling
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

fix: Add ezratnashim.com to CSRF_TRUSTED_ORIGINS
  app/settings.py
Due: isort, migrations, black, flake8

feat: Add eee.ezratnashim.com to allowed hosts
  app/settings.py
Due: isort, migrations, black, flake8

feat: Update form layout to better use grid + crispy
  assets/components/AddressInput.js
  assets/components/AddressTypeAhead.js
  eznashdb/constants.py
  eznashdb/enums.py
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/forms.py
  eznashdb/migrations/0036_alter_room_relative_size_alter_room_see_hear_score.py
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/templates/eznashdb/shuls.html
  eznashdb/views.py
  eznashdb/widgets.py
Due: isort, djlint-django, migrations, black, flake8

fix: Make shul form responsive
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

fix: Update filters box height
  eznashdb/static/eznashdb/css/shuls.css
Due: none

fix: Make room form responsive
  eznashdb/templates/eznashdb/room_form.html
Due: djlint-django

fix: Show tomselects over sticky-top
  assets/initializers/tomSelect.js
  static/css/base.css
Due: none

fix: Make childcare form responsive
  eznashdb/forms.py
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/widgets.py
Due: isort, djlint-django, migrations, black, flake8

fix: Fix tests
  eznashdb/constants.py
  eznashdb/tests/forms/test_shul_form.py
  eznashdb/tests/views/test_create_update_shul_view.py
Due: isort, migrations, black, flake8

fix: Regenerate tomselects on formset forms
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: none

feat: Autoscroll all formsets when adding new form
  eznashdb/templates/eznashdb/create_update_shul.html
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: djlint-django

feat: Remove hr's from form
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
