Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

feat: Add ChilcareProgram model
  eznashdb/migrations/0027_childcareprogram.py
  eznashdb/models.py
Due: isort, migrations, black, flake8

feat: Convert childcare question to formset
  eznashdb/forms.py
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/forms/test_shul_form.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

feat: Re-align childcare form inputs
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Move map to top of form
  assets/components/AddressInput.js
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Add childcare duration field
  eznashdb/enums.py
  eznashdb/forms.py
  eznashdb/migrations/0028_childcareprogram_duration.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: isort, djlint-django, migrations, black, flake8

feat: Reformat chidlcare form (xs-md)
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Reword help text for childcare question
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Edit wording + ordering of aud/vis options
  eznashdb/constants.py
  eznashdb/enums.py
  eznashdb/migrations/0029_alter_room_see_hear_score.py
Due: isort, migrations, black, flake8

feat: Convert icon_class from list to single str
  eznashdb/constants.py
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
Due: isort, djlint-django, migrations, black, flake8

feat: Reformat chidlcare form (lg-xxl)
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/includes/form_field_with_help_text.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Edit wording of size question
  eznashdb/constants.py
Due: isort, migrations, black, flake8

feat: Add initial validation for address input
  assets/components/AddressInput.js
  assets/components/AddressTypeAhead.js
  assets/index.js
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_update_shul.html
  eznashdb/tests/forms/test_shul_form.py
  eznashdb/tests/views/test_create_update_shul_view.py
Due: isort, djlint-django, migrations, black, flake8

feat: Mark shul, room name fields as required
  eznashdb/constants.py
Due: isort, migrations, black, flake8

fix: Remove unused address validation state (just use props)
  assets/components/AddressInput.js
Due: none

feat: Mark address field as required
  assets/components/AddressTypeAhead.js
Due: none

fix: Disable browser validation
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

fix: Make inputs rounded when invalid
  app/settings.py
Due: isort, migrations, black, flake8

fix: Allow 0 as value in hidden inputs
  assets/components/AddressInput.js
Due: none

fix: Simplify israel/pal query mask
  eznashdb/views.py
Due: isort, migrations, black, flake8

feat: Mask palestine/israel in results
  eznashdb/tests/views/test_address_lookup_view.py
  eznashdb/views.py
Due: isort, migrations, black, flake8

fix: Make hebrew results rtl
  assets/components/AddressTypeAhead.js
Due: none

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
