Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

feat: Remove disabling functionality from address input
  assets/components/AddressInput.js
  assets/components/AddressMap.js
  assets/components/AddressTypeAhead.js
  package-lock.json
  package.json
Due: none

fix: Make address map pin click-through
  assets/components/AddressMap.js
  static/css/base.css
Due: none

fix: Make address map not freeze on desktop after drag
  assets/components/AddressMap.js
Due: none

feat: Set up django-enforce-host
  app/settings.py
  poetry.lock
  pyproject.toml
Due: isort, migrations, black, flake8

feat: Adjust shul filters row height
  eznashdb/static/eznashdb/css/shuls.css
Due: none

fix: Add www url to CSRF_TRUSTED_ORIGINS
  app/settings.py
Due: isort, migrations, black, flake8

feat: Order shul rooms by pk
  eznashdb/serializers.py
Due: isort, migrations, black, flake8

fix: Assume shul links are external
  assets/components/ShulPopup.js
Due: none

feat: Redesign shul popup
  assets/components/ShulPopup.js
  eznashdb/static/eznashdb/css/shuls.css
Due: none

fix: Improve layout for rooms missing see hear score
  assets/components/ShulPopup.js
Due: none

fix: Make rooms, childcare deletable from form
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/room_form.html
Due: djlint-django

feat: Edit shul popup card padding
  assets/components/ShulPopup.js
Due: none

fix: Add key to layout displays
  assets/components/ShulPopup.js
Due: none

feat: Add childcare to shul serializer
  eznashdb/serializers.py
Due: isort, migrations, black, flake8

feat: Order childcare programs by min age in serailizer
  eznashdb/serializers.py
Due: isort, migrations, black, flake8

feat: Add childcare to shul popup
  assets/components/ShulPopup.js
Due: none

docs: Open README links in new tab
  README.md
Due: none

fix: Remove localhost from prod allowed hosts, csrf origins
  app/settings.py
Due: isort, migrations, black, flake8

fix: Remove secret key from codebase
  app/settings.py
Due: isort, migrations, black, flake8

fix: Add secret key to CI
  .github/workflows/ci.yml
Due: none

fix: Include shuls without rooms in 'unknown' filters
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/tests/filtersets/test_shul_filterset.py
Due: isort, migrations, black, flake8

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
