Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

fix: Make hebrew results rtl
  assets/components/AddressTypeAhead.js
Due: none

fix: Make address input rtl if has hebrew
  assets/components/AddressTypeAhead.js
Due: none

fix: Make hebrew addresses rtl on map popups
  assets/components/AddressTypeAhead.js
  assets/components/ShulPopup.js
  assets/utils/text.js
Due: none

feat: Make address input initially disabled
  assets/components/AddressInput.js
  assets/components/AddressMap.js
  assets/components/AddressTypeAhead.js
Due: none

refactor: Use h-100 class instead of height: 100%
  assets/components/AddressMap.js
Due: none

fix: Only disable address input if already has valid address
  assets/components/AddressInput.js
Due: none

feat: Unabbreviate osm attribution
  assets/components/AddressMap.js
Due: none

fix: Set address disabled state on load instead of in useEffect
  assets/components/AddressInput.js
Due: none

feat: Add name field to childcare model + form
  eznashdb/forms.py
  eznashdb/migrations/0030_childcareprogram_name.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/childcare_program_form.html
Due: isort, djlint-django, migrations, black, flake8

feat: Initial form reformating for chilcare program name
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
  static/css/base.css
Due: djlint-django

feat: Edit wording for duration options
  eznashdb/enums.py
  eznashdb/migrations/0031_alter_childcareprogram_duration.py
Due: isort, migrations, black, flake8

feat: Make age range a dropdown
  eznashdb/choices.py
  eznashdb/migrations/0032_alter_childcareprogram_age_max_and_more.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/childcare_program_form.html
Due: isort, djlint-django, migrations, black, flake8

feat: Switch Childcare form back to grid, with min-width
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

fix: Remove freeze column css
  static/css/base.css
Due: none

feat: Add default ordering on ChildcareProgram (min, max age)
  eznashdb/migrations/0034_alter_childcareprogram_options.py
  eznashdb/models.py
  eznashdb/tests/models/test_ChildcareProgram.py
Due: isort, migrations, black, flake8

refactor: Rename age min/max fields
  eznashdb/forms.py
  eznashdb/migrations/0033_rename_age_max_childcareprogram_max_age_and_more.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/childcare_program_form.html
Due: isort, djlint-django, migrations, black, flake8

feat: Add validaiton on childcare program ages
  eznashdb/forms.py
  eznashdb/tests/forms/test_childcare_form.py
Due: isort, migrations, black, flake8

fix: Make selects rounded when invalid
  app/settings.py
Due: isort, migrations, black, flake8

fix: Make address typeahead readonly instead of disabled
  assets/components/AddressTypeAhead.js
Due: none

fix: Make childcare form wider to leave room for invalid icon
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Link logo to homepage
  templates/includes/navbar.html
Due: djlint-django

feat: Add has_no_childcare field
  app/management/commands/seed_db.py
  eznashdb/filtersets.py
  eznashdb/forms.py
  eznashdb/migrations/0035_remove_shul_has_childcare_shul_has_no_childcare.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/includes/shul_info.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/models/test_models_smoketests.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django, migrations, black, flake8

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
