Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files

- repo: local
  hooks:
    - id: isort
      name: Python Sort Imports
      entry: .venv/bin/isort
      language: system
      files: '.*\.py$'

    - id: djlint-django
      name: Django djLint
      entry: .venv/bin/djlint --profile=django --quiet --reformat
      language: system
      files: '.*\.html$'

feat: Move filters to modal
  eznashdb/filtersets.py
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/shuls.html
Due: isort, djlint-django

refactor: Rename MultiSelect widget/filters
  eznashdb/filters.py
  eznashdb/filtersets.py
  eznashdb/widgets.py
Due: isort

fix: Prevent "unknown" select option from being duplicated
  eznashdb/filters.py
Due: isort

feat: Swap tom select for bootstrap-multiselect
  eznashdb/widgets.py
  static/css/base.css
  static/js/base.js
  static/vendor/bootstrap-multiselect/bootstrap-multiselect.css
  static/vendor/bootstrap-multiselect/bootstrap-multiselect.js
  templates/base.html
Due: isort, djlint-django

feat: Swap bootstrap CDNs for compiled js/css
  static/vendor/bootstrap-5.3.0/bootstrap.bundle.min.js
  static/vendor/bootstrap-5.3.0/bootstrap.min.css
  templates/base.html
Due: djlint-django

feat: Swap jquery CDN for compiled js
  static/vendor/jquery-3.7.0/jquery.min.js
  templates/base.html
Due: djlint-django

feat: Swap fontawesome CDN for self hosted
  static/vendor/fontawesome-6.4.0/css/fontawesome.min.css
  static/vendor/fontawesome-6.4.0/css/regular.min.css
  static/vendor/fontawesome-6.4.0/css/solid.min.css
  static/vendor/fontawesome-6.4.0/webfonts/fa-regular-400.ttf
  static/vendor/fontawesome-6.4.0/webfonts/fa-regular-400.woff2
  static/vendor/fontawesome-6.4.0/webfonts/fa-solid-900.ttf
  static/vendor/fontawesome-6.4.0/webfonts/fa-solid-900.woff2
  templates/base.html
Due: djlint-django

fix: Add missing bootstrap .js.map file
  static/vendor/bootstrap-5.3.0/bootstrap.bundle.min.js.map
Due: none

feat: Add bootstrap.min.css.map
  static/vendor/bootstrap-5.3.0/bootstrap.min.css.map
Due: none

feat: Remove precommit large file check
  .pre-commit-config.yaml
Due: none

feat: Exclude vendor files from large file precommit check
  .pre-commit-config.yaml
Due: none

refactor: Split out filters template from filters modal
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/includes/shul_filters_modal.html
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

feat: Make shul list a scroll box
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/shuls.html
  templates/base.html
Due: djlint-django

feat: Update scrollbar styling
  static/css/base.css
Due: none

feat: Remove padding on small screens
  eznashdb/templates/eznashdb/shuls.html
  templates/base.html
Due: djlint-django

feat: Make hover scrollbar narrower
  static/css/base.css
Due: none

feat: Add tooltip initializaer in base.js
  static/js/base.js
Due: none

fix: Add dashes if no room layout data
  eznashdb/models.py
  eznashdb/templates/eznashdb/includes/room_data_points/layout.html
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django

feat: Add expand/collapse all button
  app/urls.py
  eznashdb/static/eznashdb/js/shuls.js
  eznashdb/templates/eznashdb/includes/shul_filters_modal.html
  eznashdb/templates/eznashdb/shuls.html
  templates/base.html
Due: isort, djlint-django

fix: Vertical center shul count
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

feat: Add prettierJS precommit check
  .pre-commit-config.yaml
  eznashdb/static/eznashdb/js/shuls.js
  static/js/base.js
Due: none
