Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

.pre-commit-config.yaml:

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: check-yaml
    -   id: check-added-large-files
        exclude: ^static/vendor

- repo: local
  hooks:
    - id: pycln
      name: "Python: Remove unused imports"
      entry: .venv/bin/pycln
      args: [--config=pyproject.toml]
      language: system

    - id: isort
      name: Python Sort Imports
      entry: .venv/bin/isort
      language: system
      files: '.*\.py$'

    - id: djlint-django
      name: Django djLint
      entry: .venv/bin/djlint --profile=django --quiet --reformat
      language: system
      files: '.*\.html$'

    - id: migrations
      name: Django Migrations
      entry: .venv/bin/python manage.py makemigrations --check --no-input
      language: system
      pass_filenames: false
      files: '.*\.py$'

    - id: black
      name: Python Black Formatter
      entry: .venv/bin/black
      language: system
      files: '.*\.py$'

    - id: flake8
      name: Python Flake8 Linter
      entry: .venv/bin/flake8heavened
      language: system
      files: '.*\.py$'

- repo: https://github.com/pre-commit/mirrors-prettier
  rev: "v2.5.1" # Use the sha or tag you want to point at
  hooks:
    - id: prettier
      name: Prettier
      files: '.*\.js$'
      exclude: ^static/vendor

feat: Disable no childcare input if form has childcare info
  eznashdb/static/eznashdb/js/shul_form.js
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Add has_no_childcare field
  app/management/commands/seed_db.py
  eznashdb/filtersets.py
  eznashdb/forms.py
  eznashdb/migrations/0035_remove_shul_has_childcare_shul_has_no_childcare.py
  eznashdb/models.py
  eznashdb/templates/eznashdb/includes/shul_info.html
  eznashdb/templates/eznashdb/shul_form.html
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/models/test_models_smoketests.py
  eznashdb/tests/views/test_create_update_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, djlint-django, migrations, black, flake8

feat: Link logo to homepage
  templates/includes/navbar.html
Due: djlint-django

fix: Make childcare form wider to leave room for invalid icon
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Add `striped` css class; Make childcare programs formset striped
  eznashdb/templates/eznashdb/childcare_program_form.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
  static/css/base.css
Due: djlint-django

fix: Ignore hidden elems in .striped
  static/css/base.css
Due: none

fix: Make new childcare programs disable no childcare input
  eznashdb/static/eznashdb/js/shul_form.js
Due: none

refactor: Format jquery.formset.js
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: none

feat: Add initial confirmation for deleting form in formset
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: none

feat: Add bootbox script
  templates/base.html
Due: djlint-django

fix: Deleting last in formset should not hide other delete btns
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: Add model name to delete confirmation
  eznashdb/templates/eznashdb/create_update_shul.html
  static/vendor/django-dynamic-formset/jquery.formset.js
Due: djlint-django

feat: Add initial devcontainers setup
  .devcontainer/devcontainer.json
Due: none

fix: Fix typo (childrens's)
  eznashdb/templates/eznashdb/create_update_shul.html
Due: djlint-django

feat: Mount ssh in devcontainer
  .devcontainer/devcontainer.json
  poetry.lock
  pyproject.toml
Due: none

feat: Initial dev dockerizing
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  Dockerfile.dev
  Dockerfile.node
  docker-compose.yml
  makefile
  yarn.lock
Due: none

fix: Remove command from dev service
  .devcontainer/docker-compose.dev.yml
Due: none

fix: Switch yarn references to npm
  Dockerfile.dev
  makefile
  yarn.lock
Due: none

feat: Split webpack js into multiple files
  assets/entryPoints/main.js
  webpack.config.js
Due: none

feat: Merge base.js + main.js
  assets/entryPoints/base.js
  assets/entryPoints/main.js
  templates/base.html
Due: djlint-django

fix: Add const to isInitialized
  assets/entryPoints/base.js
Due: none

feat: Replace bootstrap-multiselect with tom-select
  assets/entryPoints/base.js
  eznashdb/choices.py
  eznashdb/filtersets.py
  eznashdb/widgets.py
  package-lock.json
  package.json
  static/vendor/bootstrap-multiselect/bootstrap-multiselect.css
  static/vendor/bootstrap-multiselect/bootstrap-multiselect.js
  static/vendor/tom-select/tom-select.bootstrap5.min.css
  templates/base.html
Due: isort, djlint-django, migrations, black, flake8

chore: Remove deprecated devcontainer settings
  .devcontainer/devcontainer.json
Due: none
