Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

Revert "Revert "feat: Add favicon""
  static/img/favicon.ico
  templates/base.html
Due: djlint-django

chore: Move create shul tests from form to view
  eznashdb/tests/forms/test_create_shul_form.py
  eznashdb/tests/views/test_create_shul_view.py
Due: isort, migrations, black, flake8

chore: Move black/flake8 precommit hooks before isort/pycln
  .pre-commit-config.yaml
Due: none

chore: Cache poetry dependencies in CI
  .github/workflows/ci.yml
Due: none

chore: Use -n auto in CI pytest
  .github/workflows/ci.yml
Due: none

feat: Add initial room formset
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
  eznashdb/tests/forms/test_create_shul_form.py
  eznashdb/tests/views/test_create_shul_view.py
  eznashdb/views.py
Due: isort, djlint-django, migrations, black, flake8

chore: Add .testmondata-journal to .gitignore
  .gitignore
Due: none

feat: Make room formset dynamic
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
  static/vendor/django-dynamic-formset/jquery.formset.js
  templates/base.html
Due: isort, djlint-django, migrations, black, flake8

refactor: Add get_room_fs_metadata_fields testing helper
  eznashdb/tests/views/test_create_shul_view.py
Due: isort, migrations, black, flake8

feat: Add simple room dropdowns in create form
  eznashdb/forms.py
  eznashdb/tests/forms/test_room_form.py
  eznashdb/tests/views/test_create_shul_view.py
Due: isort, migrations, black, flake8

feat: Add initial room layout form field
  eznashdb/enums.py
  eznashdb/filtersets.py
  eznashdb/forms.py
  eznashdb/tests/forms/test_room_form.py
Due: isort, migrations, black, flake8

feat: Change label for women's section location form field
  eznashdb/forms.py
Due: isort, migrations, black, flake8

feat: Make women's section location form field a bs multiselect
  eznashdb/forms.py
Due: isort, migrations, black, flake8

feat: Add asserts that room form fields are displayed
  eznashdb/tests/forms/test_room_form.py
Due: isort, migrations, black, flake8

feat: Create template for rooms form
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
  eznashdb/templates/eznashdb/room_form.html
Due: isort, djlint-django, migrations, black, flake8

feat: Create template for shul form
  eznashdb/forms.py
  eznashdb/templates/eznashdb/create_shul.html
  eznashdb/templates/eznashdb/shul_form.html
Due: isort, djlint-django, migrations, black, flake8

feat: Make add shul form responsive
  eznashdb/templates/eznashdb/create_shul.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

feat: Change delete room icon to "x"
  eznashdb/templates/eznashdb/create_shul.html
Due: djlint-django

feat: Edit shul form styling (small tag, formset button classes)
  eznashdb/templates/eznashdb/create_shul.html
Due: djlint-django

feat: Make shul form a card
  eznashdb/templates/eznashdb/create_shul.html
  eznashdb/templates/eznashdb/room_form.html
  eznashdb/templates/eznashdb/shul_form.html
Due: djlint-django

fix: Flip mixed <form> and <div> tags
  eznashdb/templates/eznashdb/create_shul.html
Due: djlint-django

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
