Repository EzNashDB/eznashdb: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, djlint-django, migrations, black, flake8

isort:
  name: Python Sort Imports
  entry: .venv/bin/isort
  language: system

djlint-django:
  name: Django djLint
  entry: .venv/bin/djlint --profile=django --quiet --reformat
  language: system

migrations:
  name: Django Migrations
  entry: .venv/bin/python manage.py makemigrations --check --no-input
  language: system
  pass_filenames: false

black:
  name: Python Black Formatter
  entry: .venv/bin/black
  language: system

flake8:
  name: Python Flake8 Linter
  entry: .venv/bin/flake8heavened
  language: system

feat: Add prettierJS precommit check
  .pre-commit-config.yaml
  eznashdb/static/eznashdb/js/shuls.js
  static/js/base.js
Due: none

fix: Vertical center shul count
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

fix: Standardize x padding on shuls page
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

feat: Improve shul card header layout
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/includes/shul_info.html
Due: djlint-django

fix: Cleanup col count in shul card header
  eznashdb/templates/eznashdb/includes/shul_info.html
Due: djlint-django

feat: Reposition ratings on small screens
  eznashdb/templates/eznashdb/includes/room_info.html
Due: djlint-django

feat: Make base content p-3
  eznashdb/templates/eznashdb/shuls.html
  templates/base.html
Due: djlint-django

feat: Re-align shul info badges on small screens
  eznashdb/templates/eznashdb/includes/shul_info.html
Due: djlint-django

feat: Split mixed seating from no women's section on frontend
  eznashdb/templates/eznashdb/includes/room_data_points/layout.html
  eznashdb/templatetags/eznashdb_tags.py
  eznashdb/tests/views/test_shuls_filter_view.py
  static/css/base.css
Due: isort, djlint-django, migrations, black, flake8

feat: Update seed_db to be more realistic - remove conflicting info - weighted random data
  app/management/commands/seed_db.py
Due: isort, migrations, black, flake8

feat: Split same floor and elevated into separate layout types
  app/management/commands/seed_db.py
  eznashdb/filtersets.py
  eznashdb/migrations/0014_rename_is_same_floor_back_room_is_elevated_back_and_more.py
  eznashdb/models.py
  eznashdb/templatetags/eznashdb_tags.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/models/test_models_smoketests.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, migrations, black, flake8

feat: Make created_by nullable
  eznashdb/migrations/0015_alter_room_created_by_alter_shul_created_by.py
  eznashdb/models.py
  eznashdb/tests/filtersets/test_shul_filterset.py
  eznashdb/tests/views/test_delete_shul_view.py
  eznashdb/tests/views/test_shuls_filter_view.py
Due: isort, migrations, black, flake8

feat: Remove borders on badges
  eznashdb/templates/eznashdb/includes/room_data_points/layout.html
  eznashdb/templates/eznashdb/includes/room_data_points/see_hear_score.html
  eznashdb/templates/eznashdb/includes/room_data_points/size.html
  eznashdb/templates/eznashdb/includes/room_data_points/wheelchair_access.html
  eznashdb/templates/eznashdb/includes/shul_info.html
  static/css/base.css
Due: djlint-django

feat: Improve display for no layout data
  eznashdb/templates/eznashdb/includes/room_data_points/layout.html
Due: djlint-django

feat: Rearrange room data badges
  eznashdb/templates/eznashdb/includes/room_info.html
Due: djlint-django

feat: Make space below collapse buttons useable
  eznashdb/templates/eznashdb/includes/delete_shul.html
  eznashdb/templates/eznashdb/includes/shul_badges.html
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/includes/shul_info.html
Due: djlint-django

fix: Remove extra comma in seeded shul room names
  app/management/commands/seed_db.py
Due: isort, migrations, black, flake8

feat: Update scrollbar coloring
  static/css/base.css
Due: none

feat: Move shul info out of collapse header
  eznashdb/templates/eznashdb/includes/room_info.html
  eznashdb/templates/eznashdb/includes/shul_badges.html
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/includes/shul_info.html
  eznashdb/templates/eznashdb/shuls.html
  templates/includes/bs_screen_size.html
Due: djlint-django

feat: Improve shul info display on very small screens
  eznashdb/templates/eznashdb/includes/shul_info.html
Due: djlint-django

feat: Improve styling on shul filters modal
  eznashdb/templates/eznashdb/includes/shul_filters.html
  eznashdb/templates/eznashdb/includes/shul_filters_modal.html
Due: djlint-django

feat: Collapse shuls by default
  eznashdb/templates/eznashdb/includes/shul_card.html
  eznashdb/templates/eznashdb/shuls.html
Due: djlint-django

Path conditions:
  isort: any of: .*\.py$
  djlint-django: any of: .*\.html$
  migrations: any of: .*\.py$
  black: any of: .*\.py$
  flake8: any of: .*\.py$
